.main {
    max-width: 1280px;
    width: calc(100% - 80px);
    margin: 40px auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #0071ce;
    width: 250px;
    padding: 20px;
}

.upload {

    div,
    button {
        width: 100%;
    }
}

.layout {
    display: flex;
    // flex-direction: row;
    float: 1;
    min-height: 600px;
    height: 100%;
    background: #e9e9e9;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 0px #c7c7c7;
}

.menu {
    margin-top: 20px;
    padding-right: 10px;
    border-right: 2px solid #539aff !important;
    background-color: transparent !important;
    height: 100%;
}

.item {
    color: #fff;

    &:hover {
        background-color: #e6f4ff !important;
    }
}

.dashboardContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
}